
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.mont {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F0F2F5;
}

.panel {
    background-color: transparent !important;
}



/*#region Navbar*/

.navbar-brand {
    padding: 0px 15px;
}

/* Animation for Mobile Menu bar Icon*/

.navbar-toggle {
    border: none;
    background: transparent !important;
    margin-right: 12px;
    animation-name: jello;
}

    .navbar-toggle span:nth-child(2n) {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
        border: 1px solid #2c3e50;
        transition: 400ms cubic-bezier(0.000, -0.510, 0.000, 1.650);
    }

    .navbar-toggle span:nth-child(3n) {
        opacity: 0;
        transition: 300ms cubic-bezier(0.000, -0.510, 0.000, 1.650);
    }

    .navbar-toggle span:nth-child(4n) {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
        border: 1px solid #2c3e50;
        transition: 400ms cubic-bezier(0.000, -0.510, 0.000, 1.650);
    }

.collapsed {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: none;
}

    .collapsed span:nth-child(2n), .collapsed span:nth-child(4n) {
        transform: none;
        border: 1px solid #002e5b;
    }

    .collapsed span:nth-child(3n) {
        opacity: 9;
        border: 1px solid #002e5b;
    }
/* End of Animation for Mobile Menu bar Icon*/

/*#endregion Navbar*/


@media (max-device-width: 312px) and (min-device-width: 272px) {

    .navbar-brand {
        width: 215px;
    }

    .CTA-Text {
        color: red;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    h5, .h5 {
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        color: #002e5b;
        letter-spacing: -.04em;
    }

    /*#region Contactus*/

    .contactContainer {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contFaDiv {
        margin-left: 20px;
    }

    .contact-form {
        margin-top: 30px;
    }

    .continfo {
        padding-left: 20px;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .contact-h3 {
        color: #012E5B;
        text-shadow: 0 2px 1px #f9d08a;
        text-align: center;
    }

    /*#region Map*/
    #google-map {
        position: relative;
        width: 100%;
        box-shadow: 1px 2px 3px black;
        height: 450px;
    }

    .gmap img {
        max-width: none !important;
    }

    .gm-style .gm-style-iw h3 span {
        font-size: inherit;
        font-family: inherit;
    }

    #map-overlay {
        position: relative;
        padding: 100px 0;
    }

        #map-overlay #google-map {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
        }

    /*#endregion Map*/

    /*#endregion contactus*/

    /*#region Navbar*/
    .navbar {
        margin-bottom: 0 !important;
    }

    .navbar-brand {
        padding: 0px 30px;
        width: 250px;
    }

    /*#endregion Navbar*/

    /*#region CTA*/

    .CTA-div button {
        color: #fff;
        border-color: #002e5b;
        background: #002e5b;
    }

    .CTA-div {
        background-color: #FDE428;
        height: auto;
        padding: 35px;
        text-align: center;
        margin-bottom: 50px;
    }

    .CTA-Text {
        line-height: 26px;
        margin-bottom: 15px;
    }

    /*#endregion CTA*/

    /*#region Feature-Box*/
    .feature-box div:nth-child(2n+2) {
        margin: 15px 0;
    }
    /*#endregion Feature-Box*/

    /*#region Icon-Box*/

    .icon-box_icon {
        float: left;
        width: 55px;
        height: 55px;
        margin-top: 20px;
        margin-right: 19px;
        position: relative;
        text-align: center;
        background: #002e5b;
        border-radius: 50%;
    }

        .icon-box_icon img {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .icon-box_icon i {
            color: white;
            font-size: 35px;
            padding-top: 10px;
        }

    .icon-box_text {
        overflow: hidden;
    }

        .icon-box_text p {
            color: #555;
        }

            .icon-box_text p:last-child {
                margin-bottom: 0;
            }


    /*#endregion Icon-Box*/

    /*#region About-Us*/

    .about-us-panel {
        height: auto;
        background-image: url("../Images/AboutUsBack.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: 50% 0;
        will-change: transform;
        padding: 20px 20px 50px;
        text-align: center;
        margin: 40px 0 60px;
    }

        .about-us-panel > div:first-child > h1 {
            color: white;
            font-size: 28px;
        }

            .about-us-panel > div:first-child > h1 > Span {
                color: #FCE327;
            }

        .about-us-panel > div:nth-child(2n+1) > h4 {
            color: white;
            text-align: justify;
            line-height: 28px;
            font-size: 12px;
        }

        .about-us-panel > div:nth-child(2n+2) {
            margin-top: 25px;
        }

            .about-us-panel > div:nth-child(2n+2) > button {
                background: #fde428;
                border-radius: 3px;
                text-align: center;
                color: #002e5b;
                padding: 12px;
            }

    /*#endregion About-Us*/

    /*#region Services-Section*/

    .service-card {
        font-size: 45px;
        line-height: 60px;
    }

        .service-card::after {
            content: '';
            display: block;
            width: 35px;
            height: 6px;
            background: #fde428;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 0 auto 53px;
        }

    .service-card-info {
        margin-top: -30px;
        margin-bottom: 40px;
    }

    .stripe {
        color: white;
        margin: 0;
        text-align: center;
    }

        .stripe span {
            font-size: 15px;
            line-height: 22px;
        }



    .info_box.style_3 .info_box_text {
        position: absolute;
        left: 0;
        top: 167px;
        right: 0;
        bottom: 0;
        background: rgba(0, 46, 91, 0.9);
        padding: 12px 20px 0;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .vc-inner:hover .info_box.style_3 .info_box_text {
        top: 0;
    }

    .info_box.style_3 .info_box_text .title {
        margin-bottom: 8px;
    }

        .info_box.style_3 .info_box_text .title .icon {
            color: #fde428;
            font-size: 40px;
            display: table-cell;
            vertical-align: middle;
            padding: 0 12px 0 0;
        }

        .info_box.style_3 .info_box_text .title h6 {
            color: #fff;
            display: table-cell;
            vertical-align: middle;
            padding-top: 0;
            margin: 0;
            font-weight: 700;
        }

    .info_box.style_3 .info_box_text p {
        color: wheat;
        text-align: justify;
        font-size: 11.4px;
    }

    .info_box.style_3 .info_box_image {
        margin: 0;
    }


    .vc_column_container > .vc-inner {
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    .info_box.style_3 {
        overflow: hidden;
    }

    .info_box {
        position: relative;
        margin: 0 0 30px;
    }

    /*#endregion Services-Section*/

    /*#region Clients*/

    .client {
        height: 75px;
        margin-top: 30px;
    }

        .client > div {
            text-align: center;
        }

    /*#endregion Clients*/

    /*#region Footer*/

    footer {
        background-color: #012E5B;
    }

    .footerTextInfo {
        padding-top: 30px;
        color: white;
    }

        .footerTextInfo h4 {
            color: #FCE327;
        }

        .footerTextInfo h5 {
            font-size: 14px;
            font-weight: 300;
            margin-left: 40px;
            color: white;
        }

        .footerTextInfo > span:first-of-type {
            float: left;
            padding: 10px 0 0 20px;
        }

        .footerTextInfo span {
            float: left;
            padding: 0 0 0 20px;
        }

    .footer-social {
        padding: 25px 45px 40px;
    }

        .footer-social .nav > li {
            font-size: 20px;
            margin-left: 9px;
        }

            .footer-social .nav > li > a {
                padding: 6px 15px;
                color: white;
            }

        .footer-social h4 {
            line-height: 30px;
            color: #f5b23d;
        }

        .footer-social hr {
            margin-top: 0;
        }

        .footer-social li {
            padding-top: 3px;
            height: 50px;
            width: 60px;
            margin: 0;
        }

        .footer-social a > .fa {
            color: #7ccbed;
        }

        .footer-social a:hover {
            background-color: #7ccbed !important;
            animation: tada 1s;
        }

            .footer-social a:hover > .fa {
                color: #000;
            }

        .footer-social .row:nth-child(2n) {
            margin-top: 30px !important;
        }

    /*#endregion Footer*/

    /*#region Bottom-bar*/
    .bottom-bar {
        background-color: #FDE428;
    }

        .bottom-bar h6 {
            font-size: 9px;
        }
    /*#endregion Bottom-bar*/

}

@media only screen and (min-width : 360px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 195px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 13.4px;
        }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social {
        padding-top: 30px;
    }
    /*#endregion Footer*/

}

/* Apple iPhone 6*/
@media only screen and (min-width : 375px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 209px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 13.9px;
        }
    /*#endregion Services-Section*/

}

@media only screen and (min-width : 400px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 220px;
    }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 25px;
    }
    /*#endregion Footer*/

}

/* Apple iPhone 6 Plus & Samsung Galaxy Note 5*/
@media only screen and (min-width : 411px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 232px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 14.9px;
        }
    /*#endregion Services-Section*/

}

@media only screen and (min-width : 432px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 245px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 15.9px;
        }
    /*#endregion Services-Section*/

}

@media only screen and (min-width : 460px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 262px;
    }

    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 0;
    }
    /*#endregion Footer*/

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 278px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 18.3px;
        }
    /*#endregion Services-Section*/

}

@media only screen and (min-width : 504px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 295px;
    }

    .stripe span {
        font-size: 20px;
    }
    /*#endregion Services-Section*/

    /*#region Clients*/

    .client {
        height: 90px;
    }

    /*#endregion Clients*/

}

@media only screen and (min-width : 533px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 315px;
    }

    /*#endregion Services-Section*/

}

@media only screen and (min-width : 568px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 340px;
    }

    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 15px;
    }
    /*#endregion Footer*/

}

@media only screen and (min-width : 598px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 360px;
    }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 18px;
        font-size: 25px;
    }
    /*#endregion Footer*/

}

@media only screen and (min-width : 640px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 390px;
    }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 25px;
    }
    /*#endregion Footer*/

}

@media only screen and (min-width : 667px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 410px;
    }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 28px;
    }
    /*#endregion Footer*/

}

@media only screen and (min-width : 732px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 456px;
    }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 38px;
    }
    /*#endregion Footer*/

}

@media only screen and (min-width : 720px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 448px;
    }
    /*#endregion Services-Section*/

    /*#region Footer*/
    .footer-social .nav > li {
        margin-left: 35px;
    }
    /*#endregion Footer*/

    /*#region Clients*/

    .client {
        height: 120px;
    }

    /*#endregion Clients*/

}

@media only screen and (min-width : 736px) {

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 430px;
    }

        .info_box.style_3 .info_box_text p {
            margin-top: 30px;
            font-size: 26px;
        }

    .stripe {
        margin: 12px 0;
    }

        .stripe span {
            font-size: 30px;
        }

    .service-card-info {
        margin-bottom: 70px;
    }

    /*#endregion Services-Section*/

    /*#region About-Us*/
    .about-us-panel {
        margin: 40px 0;
    }
    /*#endregion About-Us*/

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    h5, .h5 {
        font-size: 16px;
        font-weight: 500;
        color: #b00d2a;
        letter-spacing: -.01em;
    }

    /*#region Contactus*/

    .contact-form {
        margin-top: 0;
    }

    /*#endregion Contactus*/

    /*#region Navbar*/
    .navbar-brand {
        padding: 8px 10px 0;
        width: 100%;
        margin-right: 10px;
    }

        .navbar-brand img {
            width: 25%;
            margin: 0 auto;
        }
    /*#endregion Navbar*/

    /*#region CTA*/
    .CTA-div button {
        margin-top: 7px;
    }
    /*#endregion CTA*/

    /*#region Feature-Box*/
    .feature-box div:nth-child(2n+2) {
        margin: 0;
    }

    .icon-box_icon {
        margin-top: 10px;
    }
    /*#endregion Feature-Box*/

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 200px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 14px;
            margin-top: 15px;
        }

    .stripe {
        margin: 0;
    }

        .stripe span {
            font-size: 18px;
        }

    /*#endregion Services-Section*/

    /*#region footer*/
    .footer-social .nav > li {
        margin-left: 20px;
    }
    /*#endregion footer*/

}

@media only screen and (min-width : 800px) {

    /*#region Navbar*/
    .navbar-brand {
        padding: 8px 10px 0;
        width: 100%;
        margin-right: 10px;
    }

        .navbar-brand img {
            width: 25%;
            margin: 0 auto;
        }
    /*#endregion Navbar*/

}

@media only screen and (min-width : 960px) {

    /*#region Navbar*/
    .navbar-brand {
        padding-top: 2px;
        width: 230px;
        margin-right: 23px;
    }

        .navbar-brand img {
            width: 100%;
        }

    /*#endregion Navbar*/

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    /*#region CTA*/
    .CTA-div {
        margin-top: -70px;
    }
    /*#endregion CTA*/

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 275px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 17.2px;
        }
    /*#endregion Services-Section*/

    /*#region Clients*/

    .client {
        height: 140px;
        margin-top: 15px;
    }

    /*#endregion Clients*/

}

@media only screen and (min-width : 1024px) {

    /*#region footer*/
    .footerTextInfo:nth-child(n+2) {
        padding-left: 35px;
    }
    /*#endregion footer*/

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    /*#region CTA*/
    .CTA-div {
        margin-top: -6.1%;
        padding: 20px;
        text-align: left;
    }

        .CTA-div div:nth-child(2n+2) {
            text-align: right;
        }

        .CTA-div button {
            margin-top: 8px;
        }

    /*#endregion CTA*/

    /*#region Feature-Box*/
    .feature-box {
        margin-bottom: 100px;
        margin-top: 60px;
    }

        .feature-box div:nth-child(2n+2) {
            margin: 0;
        }
    /*#endregion Feature-Box*/

    /*#region Icon-Box*/
    .icon-box_icon {
        margin-top: 4px;
    }
    /*#endregion Icon-Box*/

    /*#region Services-Section*/
    .info_box.style_3 .info_box_text {
        top: 210px;
    }

        .info_box.style_3 .info_box_text p {
            font-size: 14.2px;
        }
    /*#endregion Services-Section*/

    /*#region Contactus*/

    .contFaDiv {
        margin-left: 0;
    }

    .continfo {
        padding-left: 8px;
    }

    /*#endregion Contactus*/

}

@media only screen and (min-width : 1366px) {

    /*#region CTA*/
    .CTA-div {
        margin-top: -6%;
        padding: 30px 20px 20px;
    }
    /*#endregion CTA*/

    /*#region Contactus*/

    .contactContainer {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .continfo {
        padding-left: 2px;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .contact-h3 {
        color: #012E5B;
        text-shadow: 0 2px 1px #f9d08a;
    }

    /*#region Map*/
    #google-map {
        position: relative;
        width: 100%;
        box-shadow: 1px 2px 3px black;
        height: 450px;
    }

    .gmap img {
        max-width: none !important;
    }

    .gm-style .gm-style-iw h3 span {
        font-size: inherit;
        font-family: inherit;
    }

    #map-overlay {
        position: relative;
        padding: 100px 0;
    }

        #map-overlay #google-map {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
        }

    /*#endregion Map*/

    /*#endregion contactus*/

}

@media only screen and (min-width : 1440px) {

    /*#region Feature-Box*/
    .feature-box {
        margin: 20px 0 80px 7%;
    }
    /*#endregion Feature-Box*/

    /*#region footer*/
    footer {
        margin-left: -5%;
    }
    /*#endregion footer*/

    /*#region Bottom-bar*/
    .bottom-bar h6 {
        font-size: 12px;
    }
    /*#endregion Bottom-bar*/

}

@media only screen and (min-width : 1919px) {
    body {
        width: 100%;
    }

    .CTA-div {
        margin-top: -3.6%;
        padding: 30px 0 25px 150px;
    }

    .feature-box {
        margin: 20px 0 80px 22%;
    }

    .about-us-panel {
        padding: 50px 140px 70px;
    }
}


/*#region Feature-Box*/

/*#endregion Feature-Box*/







