<!---->
<!---->
<!---->
<!---------------------- Header Image Section ------------------------>
<!-- #region header-Image -->

<div class="hidden-xs hidden-sm" style="height:100%">
    <!-- Top Navigation -->
    <div id="boxgallery" class="boxgallery" data-effect="effect-2">
        <div class="panel"><img src="~/Content/Images/Slide-1.jpg" alt="Image 1" /></div>
        <div class="panel"><img src="~/Content/Images/Slide-2.jpg" alt="Image 2" /></div>
        <div class="panel"><img src="~/Content/Images/Slide-3.jpg" alt="Image 3" /></div>
        <div class="panel"><img src="~/Content/Images/Slide-4.jpg" alt="Image 4" /></div>
    </div>
</div>


<div class="container-fluid visible-xs visible-sm">
    <div class="row">
        <img src="~/Content/Images/Slide-1.jpg" class="img-responsive" />
    </div>
</div>

<!-- #endregion -->
<!---->
<!---->
<!---->
<!--------------------- Call To Action Section ----------------------->
<!-- #region CTA -->

<div class="container-fluid">
    <div class="row mont CTA-div">
        <div class="col-xs-12 col-sm-8">
            <h4 class="CTA-Text">Looking for a Unique Business IT Services?</h4>
        </div>
        <div class="col-xs-12 col-sm-2 col-sm-offset-1">
            <button type="button" class="btn btn-primary">
                Contact Us <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>

<!-- #endregion -->
<!---->
<!---->
<!---->
<!------------------------- Features Section -------------------------->
<!-- #region Features -->

<div class="container mont feature-box">

    <div class="col-sm-4 col-xs-12">
        <div class="icon-box clearfix stm_animation stm_viewport animated fadeInUp" data-animate="fadeInUp" data-animation-delay="0.1" data-animation-duration="0.7" data-viewport_position="80" style="opacity:1;-webkit-animation-delay:0.1s;-webkit-animation-duration:0.7s; -moz-animation-delay:0.1s;-moz-animation-duration:0.7s; animation-delay:0.1s;">
            <div class="icon-box_icon"><img src="http://consulting.stylemixthemes.com/landing/assets/svg/iphone.svg" alt=""></div>
            <div class="icon-box_text">
                <h5>Friendly Support</h5>
                <p>Consulting WP looks great on any device, from mobile to desktop.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12">
        <div class="icon-box clearfix stm_animation stm_viewport animated fadeInUp" data-animate="fadeInUp" data-animation-delay="0.1" data-animation-duration="0.7" data-viewport_position="80" style="opacity:1;-webkit-animation-delay:0.1s;-webkit-animation-duration:0.7s; -moz-animation-delay:0.1s;-moz-animation-duration:0.7s; animation-delay:0.1s;">
            <div class="icon-box_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="icon-box_text">
                <h5>24/7 Service</h5>
                <p>Consulting WP looks great on any device, from mobile to desktop.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-xs-12">
        <div class="icon-box clearfix stm_animation stm_viewport animated fadeInUp" data-animate="fadeInUp" data-animation-delay="0.1" data-animation-duration="0.7" data-viewport_position="80" style="opacity:1;-webkit-animation-delay:0.1s;-webkit-animation-duration:0.7s; -moz-animation-delay:0.1s;-moz-animation-duration:0.7s; animation-delay:0.1s;">
            <div class="icon-box_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="icon-box_text">
                <h5>Cost-effective solutions</h5>
                <p>Consulting WP looks great on any device, from mobile to desktop.</p>
            </div>
        </div>
    </div>

</div>

<!-- #endregion -->
<!---->
<!---->
<!---->
<!------------------------- About Us Section -------------------------->
<!-- #region AboutUs -->


<div class="mont">
    <div class="row about-us-panel">
        <div class="col-xs-12 col-lg-12">
            <h1>About <span>Al-Najat</span></h1>
        </div>
        <br />
        <div class="col-lg-12">
            <h4>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable.</h4>
        </div>
        <div class="col-xs-12 col-lg-12 text-center">
            <button type="button" class="btn btn-default">
                Know More <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>


<!-- #endregion -->
<!---->
<!---->
<!---->
<!------------------------- Services Section -------------------------->
<!-- #region Services -->

<div class="container mont">
    <div class="row text-center">
        <h2 class="service-card">Services</h2>
        <h4 class="service-card-info">Click below to know more</h4>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="vc-inner">
                <div class="wpb_wrapper">
                    <div class="stm_animation stm_viewport" style="opacity:1;-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;" data-animate="fadeInUp" data-animation-delay="0" data-animation-duration="1" data-viewport_position="90">

                        <div class="info_box style_3 animated fadeInUp" style="opacity:1;-webkit-animation-delay:0s;-webkit-animation-duration:1s; -moz-animation-delay:0s;-moz-animation-duration:1s; animation-delay:0s;">

                            <div class="info_box_image">
                                <img src="~/Content/Images/Serv-1.jpg" style="width:100%" alt="img-why-our-consulting">
                            </div>

                            <div class="info_box_text">

                                <div class="title">
                                    <h4 class="stripe"><span>Enterprise Content Management</span></h4>
                                </div>

                                <p>With document imaging technology, document management, business process automation, and records management baked into the core system architecture, Laserfiche<sup>&#174;</sup> makes it possible to standardize on a single ECM system – revolutionizing the way information is managed, shared and presented.</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="vc-inner ">
                <div class="wpb_wrapper">
                    <div class="stm_animation stm_viewport" style="opacity:1;-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;" data-animate="fadeInUp" data-animation-delay="0" data-animation-duration="1" data-viewport_position="90">

                        <div class="info_box style_3 animated fadeInUp" style="opacity:1;-webkit-animation-delay:0s;-webkit-animation-duration:1s; -moz-animation-delay:0s;-moz-animation-duration:1s; animation-delay:0s;">

                            <div class="info_box_image">
                                <img src="~/Content/Images/Serv-2.jpg" style="width:100%" alt="img-why-our-consulting">
                            </div>

                            <div class="info_box_text">
                                <div class="title">

                                    <h5 class="stripe text-center mont"><span>Parking Guidance System</span></h5>
                                </div>
                                <p>ParkSol is driver information and parking guidance system which is designed to improve the management of car parks and end user (customer) services. It eases search and reservation of parking spaces, resulting in significant time and energy saving. ParkSol has huge positive impact on customer satisfaction and marketable reputation as convenient-comfort parking.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-0">
            <div class="vc-inner ">
                <div class="wpb_wrapper">
                    <div class="stm_animation stm_viewport" style="opacity:1;-webkit-transition-delay: 0s; -moz-transition-delay: 0s; transition-delay: 0s;" data-animate="fadeInUp" data-animation-delay="0" data-animation-duration="1" data-viewport_position="90">

                        <div class="info_box style_3 animated fadeInUp" style="opacity:1;-webkit-animation-delay:0s;-webkit-animation-duration:1s; -moz-animation-delay:0s;-moz-animation-duration:1s; animation-delay:0s;">

                            <div class="info_box_image">
                                <img src="~/Content/Images/Serv-3.jpg" style="width:100%" alt="img-why-our-consulting">
                            </div>

                            <div class="info_box_text">
                                <div class="title">

                                    <h4 class="stripe"><span>Engineering Division</span><span class="hidden-xs"> (est.2004)</span></h4>
                                </div>
                                <p style="color:wheat; text-align:justify;">We are among the top companies in construction, providing complete civil construction works incl. commercial, residential & industrial buildings for government, semi-govt. & private sector in Kuwait. We accorded high classification (Class II) in civil construction works & (class III) in Electrical works by Central Tender Committee, Kuwait.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- #endregion -->
<!---->
<!---->
<!---->
<!------------------------- Clients Section -------------------------->
<!-- #region Clients -->
<div style="background-color: #E8E9EA!important;">
    <div class="container mont">
        <div class="row client">
            <div class="col-lg-10 col-lg-offset-1 partners">
                <div><img style="width:100%" src="http://www.power-presentations.com/wp-content/uploads/2015/11/fedex-logo.png" alt="Alternate Text" /></div>
                <div><img style="width:60%" src="http://ppcdose.com/wp-content/uploads/clientlogo-11.png" alt="Alternate Text" /></div>
                <div><img style="width:60%" src="http://ppcdose.com/wp-content/uploads/clientlogo-6.png" alt="Alternate Text" /></div>
                <div><img style="width:80%" src="http://uco.media/wp-content/uploads/2016/02/40storagelogowhite.png" alt="Alternate Text" /></div>
                <div><img style="width:100%" src="http://44a203f2ae4194ad96e4-22f8105093f448a196819c1e709b6fe9.r73.cf3.rackcdn.com/2015/02/client-logo-nescafe-466x262-colour.png" alt="Alternate Text" /></div>
            </div>
        </div>
    </div>
</div>
<!---->
<!---->
<!---->
<!-- #endregion -->